In [2]:
import pandas as pd
import numpy as np

In [18]:
final_input_data = pd.read_csv('C:/Users/patel/Thesis/DataCleaning/BoP/inputdata.csv')
clothing_expense = pd.read_csv('Clothing_TotalCost.csv')
unit_clothing_expense = pd.read_csv('FinalUnitcosts.csv')

In [19]:
clothing_expense = clothing_expense[clothing_expense['UNIT']=='Current prices, million euro']
clothing_expense.head()
clothing_expense['Value'] = clothing_expense['Value'].replace({' ':''},regex=True)
clothing_expense['Value'] = pd.to_numeric(clothing_expense['Value'],errors='coerce')
clothing_expense = clothing_expense[['TIME','GEO','Value']]
clothing_expense.replace({":":np.NaN}, inplace=True)
clothing_expense.head()

    TIME                                                GEO     Value
1   2010          European Union - 27 countries (from 2020)  242222.8
4   2010          European Union - 28 countries (2013-2020)  292397.6
7   2010          European Union - 15 countries (1995-2004)  274968.1
10  2010  Euro area (EA11-1999, EA12-2001, EA13-2007, EA...  216982.4
13  2010              Euro area - 19 countries  (from 2015)  218586.1

In [20]:
unit_clothing_expense['Average per piece'] = unit_clothing_expense.iloc[:,2:].mean(axis=1)

In [23]:
unit_clothing_expense = unit_clothing_expense[['TIME','GEO','Average per piece']]
final_clothing_expenses = pd.merge(clothing_expense,unit_clothing_expense,how='inner',on=['TIME','GEO'])
final_clothing_expenses['Total units'] = (final_clothing_expenses['Value']/final_clothing_expenses['Average per piece'])*(1000000)
final_clothing_consumption = final_clothing_expenses[['TIME','GEO','Total units']]
final_data = pd.merge(final_input_data,final_clothing_consumption,how='inner',on=['TIME','GEO'])
final_data['consumption_per_capita'] = final_data['Total units']/final_data['Total_pop']
final_data.drop(['Total units', 'Total_pop','TIME','GEO'], axis=1, inplace=True)
final_data.to_csv('final_input_output.csv',index=False)
final_data.head()

,male_percent,female_percent,0 to 15 percent,15 to 25 percent,25 to 45 percent,45 to 65 percent,65 or older percent,Primary,Secondary,Tertiary,activity_level,Income,consumption_per_capita
0,0.487521,0.512479,0.154213,0.118512,0.284226,0.266767,0.176282,0.317,0.468,0.216,0.70325,14546.0,14.062224
1,0.487906,0.512094,0.156951,0.120054,0.283263,0.265144,0.174588,0.308,0.465,0.228,0.70975,14863.0,15.535236
2,0.487864,0.512136,0.154420,0.114562,0.282228,0.266031,0.182760,0.346,0.428,0.227,0.71300,17045.0,16.759400
3,0.490062,0.509938,0.169027,0.120974,0.270043,0.268353,0.171603,0.326,0.367,0.307,0.67650,19458.0,14.388045
4,0.486940,0.513060,0.131530,0.122029,0.282031,0.282719,0.181690,0.251,0.551,0.197,0.66700,3017.0,2.635198

In [26]:
final_data['consumption_per_capita'].mean()

13.426768810163257