In [1]:
import pandas as pd

In [16]:
df1 = pd.read_excel('Food/Food.xlsx')

In [17]:
df2 = pd.read_csv('Energy/final_electricity_consumption.csv')
df3 = pd.read_csv('Energy/final_gas_consumption.csv')
df3 = df3[['Name','Gas']]
df1 = df1.merge(df2,on=['Name'],how='inner')
df1 = df1.merge(df3,on=['Name'],how='inner')

In [18]:
df4 = pd.read_csv('Water/water_consumption.csv')
df1 = df1.merge(df4,on=['Name'],how='inner')

In [19]:
df5 = pd.read_csv('Mobility/car_km.csv')
df6 = pd.read_csv('Mobility/train_km.csv')
df7 = pd.read_csv('Mobility/bus_tram_km.csv')
df1 = df1.merge(df5,on=['Name'],how='inner')
df1 = df1.merge(df6,on=['Name'],how='inner')
df1 = df1.merge(df7,on=['Name'],how='inner')

In [20]:
df8 = pd.read_csv('BoP/clothes.csv')
df9 = pd.read_csv('BoP/Detergent.csv')
df10 = pd.read_csv('BoP/Footwear.csv')
df11 = pd.read_csv('BoP/furniture.csv')
df12 = pd.read_csv('BoP/paper.csv')
df13 = pd.read_csv('BoP/Personalcare.csv')
df1 = df1.merge(df8,on=['Name'],how='inner')
df1 = df1.merge(df9,on=['Name'],how='inner')
df1 = df1.merge(df10,on=['Name'],how='inner')
df1 = df1.merge(df11,on=['Name'],how='inner')
df1 = df1.merge(df12,on=['Name'],how='inner')
df1 = df1.merge(df13,on=['Name'],how='inner')

In [21]:
df1.head()

,Name,BUURTCODE,Population,Food_consumed,green electricity,nongreen electricity,Gas,water_per_capita,car km per capita,train km per capita,tram km per capita,Clothes,Detergent,Footwear,Furniture,Paper,Personalcare
0,Belgisch Park,71,8205,3083.638196,822.991371,550.488215,702.114564,36.600025,19.973036,5.647509,1.912141,17.364118,102.693087,2.561944,1.700613,35.626548,147.914736
1,Westbroekpark,73,880,3144.824091,877.991941,755.360332,975.965909,39.948501,18.422792,5.846375,1.983564,17.081050,120.680853,2.897702,1.770816,39.384947,143.150857
2,Duttendel,74,1075,3111.314326,924.310008,749.689992,973.255814,35.228834,19.293361,5.616766,1.869057,16.936491,125.022279,2.902105,1.673041,35.610021,137.813049
3,Nassaubuurt,48,1625,3025.119138,821.711387,618.288613,932.307692,37.854705,19.888480,5.389283,1.780623,14.746307,115.814336,2.478516,1.822706,36.063046,143.209883
4,Uilennest,75,2100,3109.737143,828.823812,654.223807,790.595238,40.431675,20.269641,5.439867,1.771270,16.736509,116.769714,2.792683,1.769846,35.404382,141.478750

In [23]:
df1.to_csv('consumption_data_net.csv')